<p-card>
    <ng-template pTemplate="title">
        Información de pago
    </ng-template>
    <ng-template pTemplate="subtitle">
        Ingresa tu Información de pago
    </ng-template>
    <div class="p-col-12">
        <label for="horizontal">Total a facturar</label>
        <h1>{{totalPedido|currency:"COP":'symbol-narrow'}}</h1>
    </div>
    <ng-template pTemplate="content">
        <div class="p-fluid p-grid">
            <div class="p-col-3">
                <label for="class">Nombre Completo</label>
                <input type="text" required pInputText [(ngModel)]="pedido.nombre"> 
            </div>
            <div class="p-col-3">
                <label for="class">Correo electrónico</label>
                <input type="text" required pInputText [(ngModel)]="pedido.correo"> 
            </div>
            <div class="p-col-6">
            </div>
            <div class="p-col-4">
                <label for="class">Dirección del domicilio</label>
                <input type="text" required pInputText [(ngModel)]="pedido.direccion"> 
            </div>
            <div class="p-col-2">
                <label for="class">Telefóno</label>
                <input type="text" required pInputText [(ngModel)]="pedido.telefono"> 
            </div>
            <div class="p-col-6">

            </div>
            <div class="p-col-2">
                <label id="number" for="lastname">Numero de tarjeta credito</label>
                <p-inputMask inputId="number" mask="9999-9999-9999-9999" [(ngModel)]="pedido.numTarjeta"></p-inputMask>
            </div>
            <div class="p-col-2">
                <label id="date" for="date">Fecha tarjeta de crédito</label>
                <p-inputMask inputId="date" mask="99/99" [(ngModel)]="pedido.expiracion"></p-inputMask>
            </div>
            <div class="p-col-2">
                <label for="cvv">CVV</label>
                <p-inputMask id="cvv" mask="999" [(ngModel)]="pedido.cvv"></p-inputMask>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="footer">
            <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" iconPos="right"></p-button>
            <p-button label="Confirmar" (onClick)="confirmar()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>
</p-card>
<p-toast></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>