<div class="nav-container">
    <div class="logo">
        <p-image src="https://static.vecteezy.com/system/resources/previews/006/491/408/non_2x/healthy-food-logo-with-fork-and-leaf-shape-vector.jpg" alt="Image" width="210px"></p-image>  
    </div>
    
    <div class="nav-buttons">
        <button pButton type="button" label="Home" class="p-button-text" routerLink="landing"></button>
        <button pButton type="button" label="Empezar" class="p-button-text" routerLink="landing"></button>
        <button pButton type="button" label="Preguntas" class="p-button-text"routerLink="landing"></button>
    </div>
</div>